<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookstore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    @*Header*@
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 navbar-brand">BOOKS STORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary/>
                </div>
            </div>
        </div>
    </div>

    @*Main Body*@
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <h1 class="text-center">Read a Book at Trevor's Online Book Store</h1>
            <vc:navigation-menu />
        </div>
        <div class="col-6">
            @RenderBody()
        </div>
    </div>


    @*Footer*@
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background: white;
            color: white;
            text-align: center;
        }
    </style>
    <footer class="footer small text-center text-black-50">Copyright © Trevor Schmidt 2021</footer>
    <br />

</body>


</html>
